.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  width: 375px;
  text-align: left;
  height: 100vh;
  padding: 1.5rem;
  box-sizing: border-box;
}

.welcomeTitle {
  font-weight: 700;
  font-size: 25px;
  margin-top: 6.9rem;
}

.welcomeTitle2 {
  font-weight: 700;
  font-size: 25px;
}

.confirmBtn {
  position: absolute;
  bottom: 18rem;
  width: 20.5rem;
  height: 3.625rem;
  background-color: #294bf5;
  font-size: 18px;
  color: #fff;
  border-radius: 32px;
  text-align: center;
  line-height: 3.625rem;
  text-decoration: none;
}
