.container {
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  margin-right: 14px;
}

.content {
  display: flex;
  margin-top: 7px;
  margin-right: 10px;
  margin-bottom: 6px;
  margin-left: 10px;
}

.iconWrapper {
  margin-top: 2px;
}

.titleWrapper {
  margin-left: 6px;
}

.title {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.04em;
  color: #353535;
}
