.container {
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  margin-right: 1.4rem;
}

.content {
  display: flex;
  margin-top: 0.8rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.iconWrapper {
  margin-bottom: 0.8rem;
}

.titleWrapper {
  margin-left: 0.6rem;
  margin-bottom: 0.7rem;
}

.title {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.04em;
  color: #353535;
}
